*{
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.container{
    max-width: 1000px;
    margin: 30px auto 30px auto;
    width: 100%;
    align-items: center;
}
